@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

:root {
  --primary: #032541 !important;
  --secondary: #21d07a !important;
  --white: #fff !important;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

input:focus {
  outline: none;
}

/* Header Styles */
header {
  background-color: var(--primary);
}

header .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header a {
  color: var(--white);
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

header a:hover {
  opacity: 0.7;
}

header .brand a {
  font-weight: 700;
  font-size: 1.5rem;
}

header .nav-links {
  width: 92%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}



header .nav-links li {
  width: 100%;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav-links li a{
}

header .nav-links li:last-child {
  margin-right: 0;
}

header input[type="text"]{
    padding: 0 20px;
    height: 36px;
    border: none;
    width: 300px;
    border-radius: 5px;
    margin-right: 10px;
}

header input::placeholder{
    margin-left: 50px;
}

header input[type="submit"] {
  padding: 10px 15px;
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
}

header input[type="submit"]:hover {
  background-color: #1aa762 !important;
  opacity: 1;
  cursor: pointer;
}

.main-content{
    position: relative;
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: space-between;
}

.main-content .sidebar{
    flex: 1;
    background: #736CED;    
    height: 100%;
    padding: 15px;
}
.main-content .movies-content{
    flex: 5;
    height: 100%;
    overflow:hidden;
    overflow-y: auto;
}

.col-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-card .card{
    box-shadow: 0 5px 10px #ccc !important;
}

.col-card .card:hover{
    box-shadow: 0 10px 20px #ccc !important;
}

button a {
    color: black;
}

.card-movie{
    margin-top: 50px;
    padding: 20px;
    border: #ccc 3px solid;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-shadow: 0 5px 10px #ccc;
}

.card-movie .img-content{
    flex: 1;
}

.card-movie .text-content{
    position:relative;
    flex: 1;
    padding: 0 30px;
}

.text-content .genre-btn{
    border-radius: 10px 10px;
    border: none;
    cursor: pointer;
    background: rgb(111, 130, 224);
    margin-right: 10px;
    color: white;   
}

.text-content .genre-btn:hover{
    background: rgb(76, 100, 219);
    
}

.text-content div{
    margin-bottom: 10px;
}

.production{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.production .production-text{
    border: 2px #ccc solid;
    padding: 0 10px;
    border-radius: 15px 15px;
    margin-right: 10px; 
}

.production .production-text:hover{
    background: #ccc;
    color: white;
}

.production img{    
    width: 70px;
    margin: 5px 10px;
}

.production img:hover{
    background: #ccc;
    color: white;
}

.vote{
    display:flex;
    justify-content: space-between;
}

.form-comments{
    border: 5px rgb(111, 130, 224) double;
    width: 100%;
    height: 30vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -5px;
    left: 5px;
}

.form-comments .comment-list{
    flex: 4;
    overflow: hidden;
    overflow-y: auto;
}


.form-comments .input{
    flex: 1;
    display: flex;
    width: 100%;
    margin-bottom: 0;
    justify-content: space-between;
}

.form-comments .input input[type="text"]{
    width: 80%;
    height: 100%;
    border: none;
    padding: 0 0 0 20px;
    border: 5px;
    box-shadow: 0 5 10px #ccc;
}


.form-comments .input input[type="submit"]{
    width: 20%;
    border: none;
    background: rgb(111, 130, 224);
    color: center;
}

.genres {
    height: 50px;
}

.genre-name-btn{
    font-size: 12px;
    border-radius: 10px;
    margin-right: 5px; 
    border: none;
    background: #4CA846;
    color: white;
    cursor: text!important;
    margin-bottom: 0px;
}

.rating{
    margin-top: 15px;
    padding: 10px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    border-top: 2px solid #ccc;
 

}

.rating h4{
    font-size: 20px;
}

.rating strong, h6{
    margin-right: 3px;  
}

.rating p{
    font-weight: 300;   
}

.popularity{
    padding: 10px 15px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    border-top: 2px solid #ccc;

}

.popularity h6{
    margin-left: 5px;
}

.release-date{
    padding: 10px 15px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    border-top: 2px solid #ccc;

}

.release-date    h6{
    margin-left: 5px;
}


.popularity h4{
    font-size: 20px;
}

.release-date h4{
    font-size: 20px;
}

.btn-primary{
    background: #4CA846 !important;
}

.btn-primary:hover{
    background: #32812c !important;
}

.btn-primary a {
    color: white;
}

.btn-primary a:hover{
    color: white !important;
}

.sidebar-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.sidebar-content .form-content{
    flex: 1;
    background: white;
    border: 1px #ccc solid;
    border-radius: 5px;
    box-shadow: 0 2px 6px #ccc;
    display: flex;
    flex-direction: column;
}

.sidebar-content .form-content div{
    flex: 1;
    display: flex;
    align-items:center;
    padding: 10px 25px;
    border-bottom: 1px #ccc solid;
}

.sidebar-content .category{
    flex: 2;
}


.category{ 
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gen-btn{
    border: 1px #167AF6 solid;
    background: #9F9FED;
    color: white;
    border-radius: 3px;
    margin-right:3px ;
}

.gen-btn:hover{
    border: 1px black solid;
    background: #7b7bdf;
}

.total{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px 0;
}

.total .total-btn{
    border-radius: 3px;
    border: none;
    padding: 5px 10px;
    background: crimson;
    color: white;
}

.total .total-btn:hover{
    border: crimson;
    background: white;
    color: crimson;

}